.icon{
    height: 14px;
    width : 25px;
    // margin-left: 1em;    
}

@media screen and (max-width:480px) {
    .icon{
        height: 10px;
        width : 15px;
        margin-left: -0.5em;
    }
}