.container-settings{
  display: flex;
  border-top: 2px solid lightgray;
  width: 126%; //124% && 132%
  overflow: hidden;
}

.unit-list{
  flex-basis: 23%;
  height: 1278px;
  background-color: #E8E8E8 ;
}

.settings-form{
  flex-basis: 45%;
}


@media screen and (max-width:768px){
  .unit-list{
    flex-basis: 32%;
  }
  
  .settings-form{
    flex-basis: 61%;
  }
  .container-settings{
    display: flex;
    border-top: 2px solid lightgray;
    width: 100%;
  }
}

@media screen and (max-width:480px){
  .unit-list{
    flex-basis: 28%;
    width: 14%;
  }
  
  .form{
    margin: 0.5rem 0.5rem !important;
  }
  .settings-form{
    flex-basis: 48%;
    width: 66%;
    
  }
  .container-settings{
    display: flex;
    border-top: 2px solid lightgray;
    width: 100%;
  }

  .table>:not(caption)>*>*{
    padding: 0.3em !important;
  }

}







































// .icon{
//     height: 14px;
//     width : 25px;
//     opacity: 0.5;
   
    
// }

// .unit-name{
//     font-size: 15px;
//     display: inline-block;
//     margin-left: 1.75em;
//     bottom: -40em;
//     opacity: 0.5;
// }



// .container{
//     padding: 0.75em 0.75em 1em 1em ;
//     &:hover {
//         background: #F5F5F5;
//         border-left: 4px solid royalblue;
//         cursor: pointer;
//         padding: 0.75em 0.75em 1em 0.75em ;
//         color: black;
//       }

//       &:active{
//         background: #F5F5F5;
//         border-left: 4px solid royalblue;
//         cursor: pointer;
//         padding: 0.75em 0.75em 1em 0.75em ;
//       }

//     //   &:focus-within{
//     //     background: #F5F5F5;
//     //     border-left: 4px solid royalblue;
//     //     cursor: pointer;
//     //     padding: 0.75em 0.75em 0.75em 0.75em ;
//     //   }
//     max-width: 20%;
//       width: 20%;
//       background-color: #E8E8E8 ;
//       border-bottom: 1px solid lightgray;
//       border-right: 1px solid lightgray;
// }