@media screen and (max-width:480px){

.container-integrity{
    display: flex;
    flex-direction: column;
}

.header-integrity{
   
    flex-basis: 90%;
    width: 100%;
}

.integrity-body{

    flex-basis: 90%;
    width: 70%;
}
}